<div class="container mt-4">
    <div class="jumbotron info">
        <h2 class="display-4 h1">WTF is this?</h2>
        <div class="row">
        <p>
        <br/>
            Hi buddy! I am grateful that you have reached my website, let me explain what this is about.
            <br/>
            <br/>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            <br/>
            <br/>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  </p>
        <hr class="my-4">
        </div>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" onclick="window.location.href = 'https://github.com/txandalf'" class="btn btn-primary">GitHub <i class="fab fa-github"></i></button>
            <button type="button" onclick="window.location.href = 'https://github.com/txandalf'" class="btn btn-primary">Twitter <i class="fab fa-twitter"></i></button>
            <button type="button" onclick="window.location.href = 'https://github.com/txandalf'" class="btn btn-primary">Youtube <i class="fab fa-youtube"></i></button>
        </div>
    </div>
</div>