
<div class="container mt-4 text-center">
<main role="main" class="inner cover">
    <h1 class="cover-heading">Error 404</h1>
    <p class="text-white">Page not found</p>
    <p class="lead">
      <a href="<%= root_path %>" class="btn btn-lg btn-primary">Back</a>
    </p>
  </main>
</div>