	<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Menú Links</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="<%= root_path %>"><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a href="#"><i class="fa fa-angle-double-right"></i>Categories</a></li>
						<li><a href="#"><i class="fa fa-angle-double-right"></i>Projects</a></li>
						<li><a href="#"><i class="fa fa-angle-double-right"></i>About</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">

				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Interesting links</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="https://fccid.io/" target="_blank"><i class="fa fa-angle-double-right"></i>FCC ID Database</a></li>
						<li><a href="https://github.com/Hack-with-Github/Awesome-Hacking" target="_blank"><i class="fa fa-angle-double-right"></i>Awesome Repositories</a></li>
						<li><a href="https://installlion.com/" target="_blank"><i class="fa fa-angle-double-right"></i>Installlion</a></li>
						<li><a href="https://www.hacker101.com/resources" target="_blank"><i class="fa fa-angle-double-right"></i>Hacker101</a></li>
						<li><a href="https://www.hackthebox.eu/"  target="_blank"><i class="fa fa-angle-double-right"></i>HackTheBox</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p>**THE BEER-WARE LICENSE**</p>
					<p> **author** wrote this file. As long as you retain this notice youcan do whatever you want with this stuff. 
						If we meet some day, and you think this stuff is worth it, you can buy me a beer in return.
						License originally authored by Poul-Henning Kamp (phk).
					</p>
				</div>
				<hr>
			</div>	
		</div>
	</section>
	<!-- ./Footer -->